p {
  margin-bottom: 0px;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {

  .navbar {
    border-radius: 0px;
    background-color: #212121;
    box-shadow: 0 4px 2px -2px gray;
  }

  .navbar-header {
    min-width: 300px;
  }

  .navbar-brand {
    color: white;
    font-family: whishing;
    font-size: 35px;
  }

  .icon-bar {
    background-color: white;
  }

  .navbar-button {
    color: #d5d5d5;
    outline: none;
  }

  .navbar-button:active, .navbar-button:focus {
    background-color: transparent;
    color: #d5d5d5;
  }

  .navbar-button:hover {
    color: white;
    background-color: transparent;
  }

  #button-login {
    outline: none;
    border: none;
    background-color: transparent;
    color: #e5e5e5;
  }

  #button-login:hover {
    color: white;
  }

  #button-logout {
    font-weight: bold;
    outline: none;
    border: none;
    background-color: transparent;
    color: #e5e5e5;
  }

  #button-logout:hover {
    color: white;
  }

  .navbar-text {
    color: white;
  }

  #banner-container {
    height: 400px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  #image-form-login {
    display: block;
    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-header {
    border: none;
  }

  .modal-footer {
    border: none;
    margin-left: auto;
    margin-right: auto;
  }

  .form-control {
    min-width: 200px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  #button-login-confirm, #suggest-button {
    display: block;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    width: 120px;
    height: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: none;
    border-radius: 30px;
  }

  #suggest-button {
    margin-bottom: 50px;
  }

  #button-login-confirm:hover, #suggest-button:hover {
    background-color: green;
  }

  #button-show-form-register {
    color: #e2901c;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    margin-top: 50px;
    text-decoration: none;
  }

  #button-register-confirm {
    display: block;
    background-color: #f0a131;
    color: white;
    font-weight: bold;
    width: 120px;
    height: 30px;
    margin: 30px auto 10px;
    outline: none;
    border: none;
    border-radius: 30px;
  }

  #button-register-confirm:hover {
    background-color: #e2901c;
  }

  #register-form-title {
    font-weight: bold;
    font-size: x-large;
    color: #212121;
    margin-left: 135px;
    margin-top: 30px;
  }

  .alert {
    min-width: 200px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  #alert-success {
    display: none;
  }

  #alert-success {
    display: none;
  }

  #alert-error, #alert-error-login {
    display: none;
  }

  .button-logout {
    display: block;
    background-color: #E53935;
    color: white;
    font-weight: bold;
    width: 120px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: none;
    border-radius: 30px;
  }

  .button-logout:hover {
    background-color: #D32F2F;
    color: white;
  }

  .modal-header {
    border: none;
  }

  .modal-footer {
    border: none;
    margin-left: auto;
    margin-right: auto;
  }

  /******* LEFT COLUMN ******/
  .column-left-title {
    font-size: medium;
    font-weight: bold;
    color: #212121;
  }

  #input-search-city {
    display: block;
    width: 100%;
    height: 32px;
    margin-top: 15px;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #CCCCCC;
    outline: none;
    font-size: small;
  }

  #check-in-check-out {
    display: block;
    width: 100%;
    height: 32px;
    font-size: large;
    margin-top: 15px;
  }

  .radio-group-type {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
  }

  .horizontal-divider {
    width: 100%;
    height: 30px;
  }

  #submit-search {
    background-color: #f0a131;
    color: white;
    display: block;
    font-weight: bold;
    margin: 25px auto;
    width: 120px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 30px;
  }

  #submit-search:hover {
    background-color: #e2901c;
  }

  #alert-error-search {
    display: none;
  }

  .suggest-item-title {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 10px;
  }

  .suggest-input {
    display: block;
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    padding-left: 5px;
    font-size: small;
  }

  .divider {
    margin-left: 10px;
    margin-right: 10px;
  }

  .center-column {
    padding-left: 30px;
    padding-right: 30px;
  }

  #banner-content {
    background-size: 100%;
    width: 100%;
    height: 350px;
    padding-top: 60px;
    background: url('../../assets/wallpaper.png') no-repeat;
    padding-left: 15px;
    padding-right: 15px;
  }

  #title-suggest {
    color: #ffffff;
    font-size: 40px;
  }

  #spot-suggest {
    color: #cccccc;
    font-size: 16px;
    background-color: rgba(0,0,0,0.7);
    padding: 5px;
  }

  .dropdown-menu > li > a {
    color: white;
    outline: none;
  }

  .footer-info {
    margin-bottom: 10px;
  }

}

@media only screen and (min-width: 769px) {

  .navbar {
    border-radius: 0px;
    background-color: #212121;
    box-shadow: 0 4px 2px -2px gray;
  }

  .navbar-header {
    min-width: 300px;
  }

  .navbar-brand {
    color: white;
    font-family: whishing;
    font-size: 35px;
  }

  .icon-bar {
    background-color: white;
  }

  .navbar-button {
    color: #d5d5d5;
    outline: none;
  }

  .navbar-button:active, .navbar-button:focus {
    background-color: transparent;
    color: #d5d5d5;
  }

  .navbar-button:hover {
    color: white;
    background-color: transparent;
  }

  #button-login {
    outline: none;
    border: none;
    background-color: transparent;
    color: #e5e5e5;
  }

  #button-login:hover {
    color: white;
  }

  #button-logout {
    font-weight: bold;
    outline: none;
    border: none;
    background-color: transparent;
    color: #e5e5e5;
  }

  #button-logout:hover {
    color: white;
  }

  .navbar-text {
    color: white;
  }

  #banner-container {
    height: 400px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  #image-form-login {
    display: block;
    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-header {
    border: none;
  }

  .modal-footer {
    border: none;
    margin-left: auto;
    margin-right: auto;
  }

  .form-control {
    min-width: 200px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  #button-login-confirm, #suggest-button {
    display: block;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    width: 120px;
    height: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: none;
    border-radius: 30px;
  }

  #suggest-button {
    margin-bottom: 50px;
  }

  #button-login-confirm:hover, #suggest-button:hover {
    background-color: green;
  }

  #button-show-form-register {
    color: #e2901c;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    margin-top: 50px;
    text-decoration: none;
  }

  #button-register-confirm {
    display: block;
    background-color: #f0a131;
    color: white;
    font-weight: bold;
    width: 120px;
    height: 30px;
    margin: 30px auto 10px;
    outline: none;
    border: none;
    border-radius: 30px;
  }

  #button-register-confirm:hover {
    background-color: #e2901c;
  }

  #register-form-title {
    font-weight: bold;
    font-size: x-large;
    color: #212121;
    margin-left: 135px;
    margin-top: 30px;
  }

  .alert {
    min-width: 200px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  #alert-success {
    display: none;
  }

  #alert-success {
    display: none;
  }

  #alert-error, #alert-error-login {
    display: none;
  }

  .button-logout {
    display: block;
    background-color: #E53935;
    color: white;
    font-weight: bold;
    width: 120px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: none;
    border-radius: 30px;
  }

  .button-logout:hover {
    background-color: #D32F2F;
    color: white;
  }

  .modal-header {
    border: none;
  }

  .modal-footer {
    border: none;
    margin-left: auto;
    margin-right: auto;
  }

  /******* LEFT COLUMN ******/
  .column-left-title {
    font-size: medium;
    font-weight: bold;
    color: #212121;
  }

  #input-search-city {
    display: block;
    width: 100%;
    height: 32px;
    margin-top: 15px;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #CCCCCC;
    outline: none;
    font-size: small;
  }

  #check-in-check-out {
    display: block;
    width: 100%;
    height: 32px;
    font-size: large;
    margin-top: 15px;
  }

  .radio-group-type {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
  }

  .horizontal-divider {
    width: 100%;
    height: 30px;
  }

  #submit-search {
    background-color: #f0a131;
    color: white;
    display: block;
    font-weight: bold;
    margin: 25px auto;
    width: 120px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 30px;
  }

  #submit-search:hover {
    background-color: #e2901c;
  }

  #alert-error-search {
    display: none;
  }

  .suggest-item-title {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 10px;
  }

  .suggest-input {
    display: block;
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    padding-left: 5px;
    font-size: small;
  }

  .center-column {
    padding-left: 100px;
    padding-right: 100px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    min-height: 400px;
    margin-bottom: 30px;
  }

  #banner-content {
    background-size: 100%;
    width: 100%;
    height: 400px;
    padding-top: 60px;
    /*background: url('http://moheban-ahlebeit.com/images/City-Wallpaper-Hd/City-Wallpaper-Hd-6.jpg') no-repeat;*/
    background: url('../../assets/wallpaper.png') no-repeat;
  }

  #title-suggest {
    color: #ffffff;
    font-size: 70px;
  }

  #spot-suggest {
    color: #cccccc;
    font-size: 20px;
    background-color: rgba(0,0,0, 0.7);
    padding: 10px;
  }

}

.foo {
  clear: both;
  color: white;
  padding: 15px;
  background-color: #212121;
  box-shadow: 0px -4px 4px #999999;
  display: flex;
}

.footer-title {
  font-size: medium;
  font-weight: bold;
}


