<!-- NAVBAR -->
<nav class="navbar">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="back-button" class="navbar-brand" role="button" routerLink="/index" routerLinkActive="active">Road to
        Svapo</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a class="navbar-button" role="button" tabindex="0" routerLink="/index">Home</a></li>
        <li><a *ngIf="user != null" class="navbar-button" role="button" tabindex="1" routerLink="/groups">Gruppi</a>
        </li>
        <li><a *ngIf="user != null" class="navbar-button" role="button" tabindex="2" routerLink="/suggest">Suggerisci un
          posto</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="user == null">
          <a id="button-login" role="button" tabindex="0" data-toggle="modal" data-target="#loginModal"
             whatever="@fat" (click)="clearModals();">Login
          </a>
        </li>
        <li *ngIf="user != null">
          <a id="button-logout" class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false">Benvenuto, {{user.userName}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a role="button" routerLink="/profile">Profilo</a></li>
            <li role="separator" id="dropdown-separator" class="divider"></li>
            <li><a role="button" data-toggle="modal" data-target="#logout-dialog">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- MODAL LOGIN -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button id="close-button-login" type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <img id="image-form-login" src="../assets/avatar.png" alt="Avatar" class="avatar">
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <input id="loginEmail" type="text" class="form-control" placeholder="E-Mail" required>
          </div>
          <div class="form-group">
            <input id="loginPassword" type="password" class="form-control" placeholder="Password" required>
          </div>
        </form>
        <div id="alert-error-login" class="alert alert-danger" role="alert">
          <strong>Errore:</strong>
          <span id="error-message-login">E-Mail o Password errati</span>
        </div>
        <button id="button-login-confirm" type="button" class="btn" (click)="onLogin();">Login</button>
      </div>

      <div class="modal-footer">
        <button id="button-show-form-register" data-toggle="modal" data-target="#registerModal" data-dismiss="modal">Non
          hai un account?
        </button>
      </div>

    </div>
  </div>
</div>

<!-- MODAL REGISTER -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h1 class="text-center">Registrati, è gratis!</h1>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <input id="registerEmail" type="text" class="form-control" placeholder="E-Mail" required>
          </div>
          <div class="form-group">
            <input id="registerPassword" type="password" class="form-control" placeholder="Password" required>
          </div>
          <div class="form-group">
            <input id="registerName" type="text" class="form-control" placeholder="Nome" required>
          </div>
          <div class="form-group">
            <input id="registerSurname" type="text" class="form-control" placeholder="Cognome" required>
          </div>
          <div id="alert-success" class="alert alert-success" role="alert">Registrazione avvenuta con successo!</div>
          <div id="alert-error" class="alert alert-danger" role="alert">
            <strong>Errore:</strong>
            <span id="error-message">E-Mail già in uso</span>
          </div>
        </form>

        <button id="button-register-confirm" type="button" class="btn" (click)="onRegister();">Registrati</button>
      </div>

    </div>
  </div>
</div>

<div id="banner-container">
  <div id="banner-content">
    <h1 id="title-suggest" class="text-center">Facile, Veloce, Utile</h1>
    <p id="spot-suggest" class="text-center">Aiutaci ad aggiungere nuovi spettacolari posti da visitare!</p>
  </div>
</div>

<!-- CONTENT -->
<div class="section">

  <!-- LEFT COLUMN -->
  <div class="left-column col-lg-3 col-md-3 col-sm-4 hidden-xs">
    <p class="column-left-title">Pianifica la tua vacanza</p>
    <form>

      <input auto-complete id="input-search-city" [(ngModel)]="selectedCity" [source]="cities" min-chars="3"
             name="cityName" placeholder="Seleziona una città"
             [accept-user-input]="false" max-num-list="4" autocomplete="off"/>

      <my-date-range-picker id="check-in-check-out" name="mydaterange" placeholder="Check-in e check-out"
                            [options]="myDateRangePickerOptions"
                            [(ngModel)]="model" (dateRangeChanged)="onDateRangeChanged($event)"
                            (inputFieldChanged)="onInputFieldChanged($event)"></my-date-range-picker>
      <div class="horizontal-divider"></div>

      <div class="radio-group-type">
        <input type="radio" name="type" value="friends" checked="checked" (click)="onChangeType('friends');"> <span
        class="span-type">Amici</span>
      </div>

      <div class="radio-group-type">
        <input type="radio" name="type" value="family" (click)="onChangeType('family');"> <span class="span-type">Famiglia</span>
      </div>

      <div class="radio-group-type">
        <input type="radio" name="type" value="love" (click)="onChangeType('love');"> <span
        class="span-type">Romantica</span>
      </div>

      <input id="submit-search" type="submit" value="SCOPRI" (click)="search();">
    </form>

    <div id="alert-error-search" class="alert alert-danger" role="alert">
      <strong>Errore:</strong>
      <span>Tutti i campi sono obbligatori.</span>
    </div>
  </div>

  <!-- CENTER COLUMN -->
  <div class="center-column col-lg-6 col-md-6 col-sm-8 col-xs-12">
    <form>
      <p class="suggest-item-title text-center">Città</p>
      <input auto-complete id="suggest-place-city" [(ngModel)]="selectedSuggestedCity" [source]="cities" min-chars="3"
             name="cityName2" placeholder="Seleziona una città" class="suggest-input"
             [accept-user-input]="false" max-num-list="4" autocomplete="off"/>

      <p class="suggest-item-title text-center">Nome posto</p>
      <input name="placeName" id="suggest-place-name" class="suggest-input" placeholder="Inserisci il nome del posto">

      <p class="suggest-item-title text-center">Descrizione</p>
      <input name="placeName" id="suggest-place-description" class="suggest-input"
             placeholder="Inserisci la descrizione del posto">

      <p class="suggest-item-title text-center">Url immagine</p>
      <input name="placeName" id="suggest-place-image" class="suggest-input"
             placeholder="Inserisci un link ad un'immagine">

      <p class="suggest-item-title text-center">Latitudine</p>
      <input name="placeName" id="suggest-place-lat" class="suggest-input"
             placeholder="Inserisci la latitudine del posto (Es. 42.983265)">

      <p class="suggest-item-title text-center">Longitudine</p>
      <input name="placeName" id="suggest-place-long" class="suggest-input"
             placeholder="Inserisci la longitudine del posto (Es. 11.875665)">

      <p class="suggest-item-title text-center">Durata media</p>
      <input name="placeName" id="suggest-place-duration" class="suggest-input"
             placeholder="Inserisci la durata media della visita (Es. 30)">

      <button id="suggest-button" (click)="onSuggest();">INVIA</button>
    </form>
  </div>
</div>

<!-- MODAL SUGGEST -->
<div id="suggest-dialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Suggerisci un posto</h4>
      </div>
      <div class="modal-body">
        <p id="suggest-dialog-message">Grazie dell'aiuto! Il tuo posto sarà revisionato al più presto.</p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<button hidden id="button-modal-suggest" data-toggle="modal" data-target="#suggest-dialog"></button>

<!-- MODAL LOGOUT -->
<div id="logout-dialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Logout</h4>
      </div>
      <div class="modal-body">
        <p>Sei sicuro di voler effettuare il logout?</p>
        <button type="button" class="btn button-logout" data-dismiss="modal" (click)="onLogout();">LOGOUT</button>
      </div>
    </div>
  </div>
</div>

<div class="foo">
  <div class="container">
    <div class="row">
      <div class="footer-info col-lg-4 col-mg-4 col-sm-6 col-xs-12">
        <p class="footer-title">Contatti</p>
        <p>inquire@roadtosvapo.it</p>
      </div>
      <div class="footer-info col-lg-4 col-mg-4 col-sm-6 col-xs-12">
        <p class="footer-title">Indirizzo</p>
        <p>5230 Penfield Ave, Woodland Hills, CA</p>
      </div>
      <div class="footer-info col-lg-4 col-mg-4 col-sm-12 col-xs-12">
        <p>&copy; 2017-2018 roadtosvapo.it - All Rights Reserved</p>
        <p>Enjoy your trip!</p>
      </div>
    </div>
  </div>
</div>
