<!-- Navbar -->
<div fill-height class="background-image">

  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" role="button" routerLink="/index">Road to Svapo</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="user == null">
            <a role="button" tabindex="0" data-toggle="modal" data-target="#loginModal"
                      whatever="@fat" (click)="clearModals();">Login
            </a>
          </li>
          <li *ngIf="user != null">
            <a role="button" id="button-logout" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Benvenuto, {{user.userName}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a role="button" routerLink="/profile">Profilo</a></li>
              <li role="separator" class="divider"></li>
              <li><a role="button" data-toggle="modal" data-target="#logout-dialog">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button id="close-button-login" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <img id="image-form-login" src="../assets/avatar.png" alt="Avatar" class="avatar">
        </div>

        <div class="modal-body">
          <form>
            <div class="form-group">
              <input id="loginEmail" type="text" class="form-control" placeholder="E-Mail">
            </div>
            <div class="form-group">
              <input id="loginPassword" type="password" class="form-control" placeholder="Password" autocomplete="off">
            </div>
          </form>
          <div id="alert-error-login" class="alert alert-danger" role="alert">
            <strong>Errore:</strong>
            <span id="error-message-login">E-Mail o Password errati</span>
          </div>
          <button id="button-login-confirm" type="button" class="btn" (click)="onLogin();">Login</button>
        </div>

        <div class="modal-footer">
          <button id="button-show-form-register" data-toggle="modal" data-target="#registerModal" data-dismiss="modal">Non hai un account?</button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h1 class="text-center">Registrati, è gratis!</h1>
        </div>

        <div class="modal-body">
          <form>
            <div class="form-group">
              <input id="registerEmail" type="text" class="form-control" placeholder="E-Mail" required>
            </div>
            <div class="form-group">
              <input id="registerPassword" type="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="form-group">
              <input id="registerName" type="text" class="form-control" placeholder="Nome" required>
            </div>
            <div class="form-group">
              <input id="registerSurname" type="text" class="form-control" placeholder="Cognome" required>
            </div>
            <div id="alert-success" class="alert alert-success" role="alert">Registrazione avvenuta con successo!</div>
            <div id="alert-error" class="alert alert-danger" role="alert">
              <strong>Errore:</strong>
              <span id="error-message">E-Mail già in uso</span>
            </div>
          </form>

          <button id="button-register-confirm" type="button" class="btn" (click)="onRegister();">Registrati</button>
        </div>

      </div>
    </div>
  </div>

  <!-- Search Panel -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-12">
          <div class="jumbotron">
            <p class="title">Pianifica la tua vacanza</p>

            <form>

              <input auto-complete id="input-search-city" [(ngModel)]="selectedCity" [source]="cities" min-chars="3"
                     name="cityName" placeholder="Seleziona una città"
                     [accept-user-input]="false" max-num-list="4" autocomplete="off"/>

              <my-date-range-picker id="check-in-check-out" name="mydaterange" placeholder="Check-in e check-out" [options]="myDateRangePickerOptions"
                                    [(ngModel)]="model" (dateRangeChanged)="onDateRangeChanged($event)"
                                    (inputFieldChanged)="onInputFieldChanged($event)"></my-date-range-picker>

              <div class="form-divider"></div>

              <div id="container-radio-button">
                <div class="radio-group-type">
                  <input class="radio-input-type" type="radio" name="type" value="friends" checked="checked" (click)="onChangeType('friends');"> <span class="span-type">Amici</span>
                </div>

                <div class="radio-group-type">
                  <input class="radio-input-type" type="radio" name="type" value="family" (click)="onChangeType('family');"> <span class="span-type">Famiglia</span>
                </div>

                <div class="radio-group-type">
                  <input class="radio-input-type" type="radio" name="type" value="romantic" (click)="onChangeType('love');"> <span class="span-type">Romantica</span>
                </div>
              </div>

              <div id="alert-error-search" class="alert alert-danger" role="alert">
                <strong>Errore:</strong>
                <span>Tutti i campi sono obbligatori.</span>
              </div>

              <!--<input id="submit-search" type="submit" value="CERCA" routerLink="/home" routerLinkActive="active">-->
              <button id="submit-search" value="CERCA" (click)="onSearch();">CERCA</button>

            </form>

          </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>

  <div id="logout-dialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Logout</h4>
        </div>
        <div class="modal-body">
          <p>Sei sicuro di voler effettuare il logout?</p>
          <button type="button" class="btn button-logout" data-dismiss="modal" (click)="onLogout();">LOGOUT</button>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p>Road to Svapo © 2017</p>
  </footer>

</div>
