/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: whishing;
  src: url("assets/Fonts/whishing.otf");
}

.mydrp {
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
}

