p {
  margin-bottom: 0px;
}

@media only screen and (min-width: 769px){

  .navbar {
    border-radius: 0px;
    background-color: #212121;
    box-shadow: 0 4px 2px -2px gray;
  }

  .navbar-header {
    min-width: 300px;
  }

  .navbar-brand {
    color: white;
    font-family: whishing;
    font-size: 35px;
  }

  .icon-bar {
    background-color: white;
  }

  .navbar-button {
    color: #d5d5d5;
    outline: none;
  }

  .navbar-button:active, .navbar-button:focus {
    background-color: transparent;
    color: #d5d5d5;
  }

  .navbar-button:hover {
    color: white;
    background-color: transparent;
  }

  #button-login{
    outline: none;
    border: none;
    background-color: transparent;
    color: #e5e5e5;
  }

  #button-login:hover{
    color: white;
  }

  #button-logout{
    font-weight: bold;
    outline: none;
    border: none;
    background-color: transparent;
    color: #e5e5e5;
  }

  #button-logout:hover{
    color: #e5e5e5;
  }

  .navbar-text {
    color: white;
  }

}

@media only screen and (min-width: 300px) and (max-width: 768px){

  .navbar {
    border-radius: 0px;
    background-color: #212121;
    box-shadow: 0 4px 2px -2px gray;
  }

  .navbar-header {
    min-width: 300px;
  }

  .navbar-brand {
    color: white;
    font-family: whishing;
    font-size: 35px;
  }

  .icon-bar {
    background-color: white;
  }

  .navbar-button {
    color: #d5d5d5;
    outline: none;
  }

  .navbar-button:active, .navbar-button:focus {
    background-color: transparent;
    color: #d5d5d5;
  }

  .navbar-button:hover {
    color: white;
    background-color: transparent;
  }

  #button-login{
    outline: none;
    border: none;
    background-color: transparent;
    color: #e5e5e5;
  }

  #button-login:hover{
    color: white;
  }

  #button-logout{
    font-weight: bold;
    outline: none;
    border: none;
    background-color: transparent;
    color: #e5e5e5;
  }

  #button-logout:hover{
    color: white;
  }

  .navbar-text {
    color: white;
  }

  .dropdown-menu > li > a {
    color: #d5d5d5;;
  }

  #dropdown-separator{
    margin-right: 10px;
    margin-left: 10px;
    background-color: #e5e5e5;
  }

  .right-column {
    margin-bottom: 30px;
  }

  .footer-info {
    margin-bottom: 10px;
  }
}

/**************** MODAL LOGIN-REGISTER *****************/

#image-form-login {
  display: block;
  width: 160px;
  height: 160px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  min-width: 200px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#button-login-confirm {
  display: block;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  border: none;
  border-radius: 30px;
}

#button-login-confirm:hover {
  background-color: green;
}

#button-show-form-register {
  color: #e2901c;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  margin-top: 50px;
  text-decoration: none;
}

#button-register-confirm {
  display: block;
  background-color: #f0a131;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 30px;
  margin: 30px auto 10px;
  outline: none;
  border: none;
  border-radius: 30px;
}

#button-register-confirm:hover {
  background-color: #e2901c;
}

#register-form-title{
  font-weight: bold;
  font-size: x-large;
  color: #212121;
  margin-left: 135px;
  margin-top: 30px;
}

.alert {
  min-width: 200px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#alert-success {
  display: none;
}

#alert-success {
  display: none;
}

#alert-error, #alert-error-login {
  display: none;
}

#alert-success-share, #alert-error-share {
  display: none;
}

.button-logout {
  display: block;
  background-color: #E53935;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  border: none;
  border-radius: 30px;
}

.button-logout:hover {
  background-color: #D32F2F;
  color: white;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
  margin-left: auto;
  margin-right: auto;
}

/************** LEFT COLUMN **************/

.column-left-title {
  font-size: medium;
  font-weight: bold;
  color: #212121;
}

#input-search-city {
  display: block;
  width: 100%;
  height: 32px;
  margin-top: 15px;
  border-radius: 4px;
  font-size: small;
  padding: 5px;
  border: 1px solid #CCCCCC;
  outline: none;
}

#check-in-check-out {
  display: block;
  width: 100%;
  height: 32px;
  font-size: large;
  margin-top: 15px;
}

.radio-group-type {
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}

.horizontal-divider {
  width: 100%;
  height: 30px;
}

#submit-search{
  background-color: #f0a131;
  color: white;
  display: block;
  font-weight: bold;
  margin: 25px auto;
  width: 120px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 30px;
}

#submit-search:hover {
  background-color: #e2901c;
}

#alert-error-search {
  display: none;
}

/************** CENTER COLUMN WEB ****************/

@media only screen and (min-width: 769px){

  .center-column {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    min-height: 400px;
    margin-bottom: 30px;
  }

  .header-day {
    background-color: #212121;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .item-place {
    display: flex;
    height: 180px;
  }

  .item-place-duration {
    min-width: 50px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    color: #212121;
    font-weight: bold;
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .duration {
    font-size: xx-large;
  }

  .duration-label {
    font-size: small;
  }

  .item-place-image {
    width: 250px;
    height: 180px;
    overflow: hidden;
    margin-left: 15px;
  }

  .item-place-image img {
    width: 250px;
  }

  .item-place-description {
    width: 50%;
    margin-left: 10px;
  }

  .place-name {
    font-size: 20px;
    font-weight: bold;
    color: #212121;
    margin-bottom: 0px;
  }

  .place-name:hover {
    text-decoration: none;
  }

  .place-popularity {
    color: #cccccc;
  }

  .button-place-delete {
    background-color: #f0a131;
    color: white;
    font-weight: bold;
    width: 120px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 30px;
    margin-top: 15px;
  }

  .button-place-delete:hover {
    background-color: #e2901c;
  }

  .divider-item-place {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #aaaaaa;
  }

  .divider-header-day {
    height: 40px;
    width: 100%;
  }

}

/**************** CENTER COLUMN MOBILE *****************/

@media only screen and (min-width: 400px) and (max-width: 768px){

  .header-day {
    background-color: #212121;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
  }

  .item-place {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
  }

  .item-place-duration {
    width: 10%;
    color: #212121;
    font-weight: bold;
    font-size: medium;
    display: flex;
    align-items: center;
  }

  .duration-label {
    margin-left: 5px;
  }

  .duration {
    font-size: large;
  }

  .duration-label {
    font-size: small;
  }

  .item-place-image {
    width: 100%;
    overflow: hidden;
  }

  .item-place-image img {
    width: 100%;
    height: auto;
  }

  .item-place-description {
    margin-top: 8px;
  }

  .item-place-description a {
    display: block;
  }

  .place-name {
    font-size: 20px;
    font-weight: bold;
    color: #212121;
  }

  .place-name:hover {
    text-decoration: none;
  }

  .place-popularity {
    color: #cccccc;
  }

  .button-place-delete {
    background-color: #f0a131;
    color: white;
    font-weight: bold;
    width: 120px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 30px;
    margin-top: 15px;
  }

  .button-place-delete:hover {
    background-color: #e2901c;
  }

  .divider-item-place {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #aaaaaa;
  }

  .divider-header-day {
    height: 30px;
    width: 100%;
  }

}

/*********** RIGHT COLUMN ********************/

.suggested-place-title{
  font-size: medium;
  font-weight: bold;
  color: #212121;
}

.suggested-place-item{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  height: 100px;
}

.suggested-place-item .image-place{
  width: 100px;
  height: auto;
}

.place-button-add{
  display: block;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  font-size: smaller;
  margin-left: 15px;
  margin-top: 3px;
  width: 80px;
  height: 20px;
  outline: none;
  border: none;
  border-radius: 30px;
}

.place-button-add:hover {
  background-color: #3b9e49;
}

.suggested-place-name{
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 0px;
  font-weight: bold;
}

.suggested-place-views {
  color: #cccccc;
  margin-left: 15px;
  margin-bottom: 0px;
}

/************ FOOTER *************************/

.footer {
  clear: both;
  display: block;
  height: 50px;
  background-color: #212121;
  margin-top: 50px;
}

/******************** SAVE SHARE ****************/

.save-share {
  display: block;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: auto;
  width: 270px;
}

#button-save {
  display: inline-block;
  background-color: #f0a131;
  color: white;
  font-weight: bold;
  font-size: small;
  width: 110px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 30px;

}

#button-save:hover {
  background-color: #e2901c;
}

#button-share {
  display: inline-block;
  background-color: #212121;
  color: white;
  font-weight: bold;
  font-size: small;
  width: 150px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 30px;
}

#button-share:hover {
  background-color: #151515;
}

#button-share-confirm {
  display: block;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  border: none;
  border-radius: 30px;
}

#button-share-confirm :hover {
  background-color: #3b9e49;
}

.foo {
  clear: both;
  color: white;
  padding: 15px;
  background-color: #212121;
  box-shadow: 0px -4px 4px #999999;
  min-height: 80px;
  display: flex;
}

.footer-title {
  font-size: medium;
  font-weight: bold;
}

/********** DETAIL **************/

#detail-place-image {
  width: 100%;
}

.detail-title {
  margin-top: 8px;
}
